
a 
{
  text-decoration: none !important;
}
ul li 
{
  list-style: none;
}

body{

  overflow: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.rounded-x
{
  border-radius: 20px !important;
}


